# Backend API URL

# NextAuth Configuration
NEXTAUTH_URL=https://thysanurous-cecilia-nonstretchable.ngrok-free.dev
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=super-secret-dev-key
NEXTAUTH_TRUST_HOST=true
NEXTAUTH_CSRF_CHECK_ORIGIN=false
BACKEND_INTERNAL_URL=http://localhost:8080
NEXT_PUBLIC_BACKEND_URL=https://demiurgic-stevie-polymorphous.ngrok-free.dev


# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
